
[build-system]
requires = ["maturin>=1.0,<2.0"]
build-backend = "maturin"

[tool.maturin]
# "extension-module" tells pyo3 we want to build an extension module (skips linking against libpython.so)
features = ["pyo3/extension-module"]

[project]
name = "godata"
version = "0.2.2"
requires-python = ">=3.9"
dependencies = [
    "loguru>=0.7.0",
]


[project.optional-dependencies]
develop = [
    "black>=23.7.0",
    "isort>=5.12.0",
    "ruff>=0.0.285",
    "pre-commit>=3.3.3"
]

[tool.isort]
profile = "black"

[tool.black]
extend-exclude = '''
(
dev/*
| io/*
)
'''

[tool.ruff]

exclude = [
"dev",
"io",
"test*"
]